[data-theme='tailglow'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.22rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 2px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(94.28% 0.13 133.36deg);
	--color-primary-100: oklch(90.5% 0.14 140.62deg);
	--color-primary-200: oklch(86.94% 0.16 145.41deg);
	--color-primary-300: oklch(83.56% 0.17 149.07deg);
	--color-primary-400: oklch(80.44% 0.18 151.04deg);
	--color-primary-500: oklch(77.57% 0.19 152.23deg);
	--color-primary-600: oklch(68.66% 0.17 150.94deg);
	--color-primary-700: oklch(59.18% 0.15 149.46deg);
	--color-primary-800: oklch(49.64% 0.14 147.66deg);
	--color-primary-900: oklch(39.3% 0.12 145.28deg);
	--color-primary-950: oklch(28.5% 0.1 142.5deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(84.16% 0.15 326.84deg);
	--color-secondary-100: oklch(77.72% 0.16 324.74deg);
	--color-secondary-200: oklch(71.24% 0.17 322.8deg);
	--color-secondary-300: oklch(64.72% 0.18 320.81deg);
	--color-secondary-400: oklch(58.26% 0.19 318.92deg);
	--color-secondary-500: oklch(51.84% 0.2 316.71deg);
	--color-secondary-600: oklch(47.37% 0.17 316.19deg);
	--color-secondary-700: oklch(42.71% 0.15 315.55deg);
	--color-secondary-800: oklch(38.04% 0.12 313.24deg);
	--color-secondary-900: oklch(33.22% 0.1 311.28deg);
	--color-secondary-950: oklch(28.55% 0.07 306.99deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.54% 0.02 196.73deg);
	--color-tertiary-100: oklch(93.34% 0.04 223.09deg);
	--color-tertiary-200: oklch(88.2% 0.06 234.37deg);
	--color-tertiary-300: oklch(83.12% 0.08 239.76deg);
	--color-tertiary-400: oklch(78.09% 0.1 243.37deg);
	--color-tertiary-500: oklch(73.12% 0.12 245.61deg);
	--color-tertiary-600: oklch(66.2% 0.12 245.89deg);
	--color-tertiary-700: oklch(58.85% 0.11 246.66deg);
	--color-tertiary-800: oklch(51.6% 0.11 247.18deg);
	--color-tertiary-900: oklch(43.92% 0.11 248.87deg);
	--color-tertiary-950: oklch(36.38% 0.11 250.97deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(100% 0 none);
	--color-success-100: oklch(97.02% 0 none);
	--color-success-200: oklch(94.01% 0 none);
	--color-success-300: oklch(90.67% 0 none);
	--color-success-400: oklch(87.61% 0 none);
	--color-success-500: oklch(84.52% 0 none);
	--color-success-600: oklch(77.31% 0 none);
	--color-success-700: oklch(69.6% 0 none);
	--color-success-800: oklch(62.01% 0 none);
	--color-success-900: oklch(53.82% 0 none);
	--color-success-950: oklch(45.68% 0 none);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-dark);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(85.35% 0.09 46.59deg);
	--color-warning-100: oklch(79.65% 0.1 37.7deg);
	--color-warning-200: oklch(74.24% 0.13 31.13deg);
	--color-warning-300: oklch(69.08% 0.15 28.02deg);
	--color-warning-400: oklch(64.26% 0.17 25.53deg);
	--color-warning-500: oklch(59.79% 0.19 24.88deg);
	--color-warning-600: oklch(53.19% 0.17 25.14deg);
	--color-warning-700: oklch(46.39% 0.15 25.5deg);
	--color-warning-800: oklch(39.07% 0.14 26.12deg);
	--color-warning-900: oklch(31.77% 0.12 26.9deg);
	--color-warning-950: oklch(23.81% 0.1 29.23deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(98.28% 0.09 108deg);
	--color-error-100: oklch(93.95% 0.1 101.65deg);
	--color-error-200: oklch(89.66% 0.11 96.01deg);
	--color-error-300: oklch(85.58% 0.12 91.73deg);
	--color-error-400: oklch(81.37% 0.13 86.85deg);
	--color-error-500: oklch(77.22% 0.14 82.02deg);
	--color-error-600: oklch(70.03% 0.13 81.13deg);
	--color-error-700: oklch(62.64% 0.12 80.12deg);
	--color-error-800: oklch(54.97% 0.11 77.01deg);
	--color-error-900: oklch(47.12% 0.1 74.72deg);
	--color-error-950: oklch(38.94% 0.08 71.69deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(96.36% 0.05 188.92deg);
	--color-surface-100: oklch(89.23% 0.05 175.97deg);
	--color-surface-200: oklch(81.95% 0.06 163.48deg);
	--color-surface-300: oklch(74.85% 0.07 153.6deg);
	--color-surface-400: oklch(67.29% 0.08 146.16deg);
	--color-surface-500: oklch(59.61% 0.09 141.2deg);
	--color-surface-600: oklch(51.68% 0.08 141.48deg);
	--color-surface-700: oklch(43.51% 0.06 141.11deg);
	--color-surface-800: oklch(34.86% 0.04 140.37deg);
	--color-surface-900: oklch(25.82% 0.01 135.04deg);
	--color-surface-950: oklch(16.05% 0.02 326.31deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-900);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-dark);
	--color-surface-contrast-900: var(--color-surface-contrast-dark);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}